<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Get help on the ruby rails turorials at the 
	<a href="http://www.railstutorial.org">Rails Tutorial help page</a>
	To get help on this sample app, see the
	<a href="http://www.railstutorial.org"><en>Ruby on Rails Tutorial</en>
	book</a>
</p>